* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #ffd600;
  --primary-50: #ffd5007a;
  --primary-80: #ffd500c7;
  --dark-bg: #000417;
  --dark-bg-lighter: rgb(5, 9, 28);
  --dark-bg-lighter-2: #101841;
  --text: #ffffff;

  --max-width: 1000px;
  --font-size: 1.2rem;
}

@media (max-width: 730px) {
  html {
    font-size: 0.8rem;
  }
}

body {
  background-color: var(--dark-bg);
  color: var(--text);
  font-family: Helvetica, Arial, sans-serif;
}

section {
  width: 95%;
  max-width: var(--max-width);
  margin: auto;
  margin-bottom: 5rem;
}

section .title {
  display: flex;
  gap: 2rem;
  color: var(--primary);
  margin-bottom: 3rem;
}

section .title hr {
  display: flex;
  align-self: center;
  border-color: var(--primary);
  flex-grow: 1;
  height: 1px;
  opacity: 50%;
}

section .indent-left-2 {
  margin-left: 2rem;
}

section .indent-left-4 {
  margin-left: 4rem;
}

section .indent-left-6 {
  margin-left: 6rem;
}

p {
  font-size: var(--font-size);
}

/*Hero Section---------------------------------------------------------------------*/
.hero {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.hero .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  z-index: 5;
}

.hero .text .name {
  display: flex;
  justify-content: center;
  align-self: stretch;
  color: var(--dark-bg);
  background-color: var(--primary);
  font-size: 2.5rem;
  border-radius: 5px;
}

.hero .text .position {
  color: var(--primary);
  font-size: 2.6rem;
}

.hero .text button {
  border: solid 2px var(--primary);
  border-radius: 10px;
  background: transparent;
  color: var(--primary);
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
}

.hero .text button:hover {
  background-color: var(--primary-80);
  color: var(--dark-bg);
  cursor: pointer;
}

.hero ul {
  position: absolute;
  list-style: none;
  max-width: var(--max-width);
  z-index: 4;
  width: 100%;
  height: 100%;
}

.hero ul li {
  background-color: white;
  opacity: 5%;
  position: absolute;
  border-radius: 10px;
  width: 100px;
  height: 100px;
}

.hero ul li:nth-child(1) {
  transform: scale(1.8);
  rotate: 45deg;
  left: 0px;
  top: 80px;
}

.hero ul li:nth-child(2) {
  transform: scale(1.5);
  rotate: 80deg;
  right: 50px;
  top: 80px;
}

.hero ul li:nth-child(3) {
  transform: scale(1.8);
  rotate: 66deg;
  left: 50%;
  bottom: 80px;
}
/*-------------------------------------------------------------------------------*/

/*About Me Section---------------------------------------------------------------*/
.about-me .split-container {
  width: 100%;
  display: flex;
}

.about-me .split-container .paragraph {
  width: 50%;
}

.about-me .split-container .image {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-me .image-container {
  position: relative;
  height: 20rem;
  object-fit: contain;
  display: flex;
  align-items: center;
  background-color: var(--primary);
  border-radius: 2px;
  transition: background-color 0.5s linear;
}

.about-me .image-container::after {
  background-color: blue;
  mix-blend-mode: lighten;
}

.about-me .image-container::after:hover {
  background: transparent;
  mix-blend-mode: normal;
  transition: all 0.5s ease;
}

.about-me img {
  max-width: 100%;
  max-height: 100%;
  z-index: 4;
  border-radius: 2px;
  mix-blend-mode: darken;
}

.about-me img:hover {
  mix-blend-mode: normal;
}

.about-me .image-container > .image-border {
  position: absolute;
  width: 100%;
  height: inherit;
  border: solid 2px var(--primary);
  top: -15px;
  right: -25px;
  z-index: 3;
  border-radius: 2px;
  transition: all 0.5s ease;
}

.about-me .image-container:hover > .image-border {
  top: -8px;
  right: -12px;
  background-color: var(--primary);
}

.paragraph {
  text-align: justify;
  margin: auto 0;
}

@media (max-width: 580px) {
  .about-me .split-container {
    flex-direction: column;
    align-items: center;
    gap: 4rem;
  }

  .about-me .paragraph,
  .about-me .image {
    width: 100% !important;
  }
}

/*-------------------------------------------------------------------------------*/

/*Skills Section-----------------------------------------------------------------*/

.skew {
  width: 100%;
  max-width: 100% !important;
}

.skills-skew-margin {
  margin: 4rem 0;
}

.skills-skew-container {
  padding: 3rem 0;
  width: 100%;
  background-color: var(--dark-bg-lighter);
  display: flex;
  justify-content: center;
  transform: skew(0deg, -2deg);
}

.skew .skills {
  transform: skew(0deg, 2deg);
}

.skills span:hover {
  cursor: default;
}

.skills .levels {
  width: 100%;
  display: flex;
  margin-top: 2.5rem;
  justify-content: center;
}

.skills .level {
  width: fit-content;
  background-color: rgba(255, 255, 255, 0.103);
  padding: 0.5rem 1rem;
  border-radius: 10px;
}

.all-skills {
  width: 100%;
  display: flex;
  gap: 15px;
  row-gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 2.5rem;
}

.skill-category {
  position: relative;
  border: solid 4px rgba(255, 255, 255, 0.158);
  width: 30%;
  min-width: 310px;
  height: 11.5rem;
  padding: 0.6rem;
  padding-top: 1.4rem;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
}

.skill-category h3 {
  position: absolute;
  background-color: var(--dark-bg-lighter);
  padding: 0 0.8rem;
  left: 15px;
  top: -0.8rem;
  color: rgba(255, 255, 255, 0.568);
  font-weight: 200;
}

.skills li {
  display: flex;
  align-items: center;
  object-fit: contain;
  width: fit-content;
  height: 2.3rem;
  background-color: rgba(255, 255, 255, 0.103);
  padding: 0.2rem;
  border-radius: 10px;
  transform: scale(1);
  transition: all 0.05s ease;
}

.skills li:hover,
.skills .level:hover {
  transform: scale(1.02);
  transition: all 0.05s ease;
}

.skills li img {
  max-height: 100%;
  border-radius: 10px;
}

.skills span {
  margin-left: 1.2rem;
  margin-right: 0.8rem;
  font-size: 1.2rem;
}

.skills .high:hover,
.high-demo {
  background-color: rgba(0, 255, 0, 0.25) !important;
}

.skills .medium:hover,
.medium-demo {
  background-color: rgba(255, 238, 0, 0.25) !important;
}

.skills .low:hover,
.low-demo {
  background-color: rgba(255, 0, 0, 0.25) !important;
}

@media (pointer: coarse) {
  .skills .high,
  .high-demo {
    background-color: rgba(0, 255, 0, 0.2) !important;
  }

  .skills .medium,
  .medium-demo {
    background-color: rgba(255, 238, 0, 0.2) !important;
  }

  .skills .low,
  .low-demo {
    background-color: rgba(255, 0, 0, 0.2) !important;
  }
}
/*-------------------------------------------------------------------------------*/

/*Work Experience----------------------------------------------------------------*/

.work-exp .work {
  width: 100%;
  list-style: none;
  position: relative;
  height: 30rem;
}

.work-exp .work img {
  position: absolute;
  left: 2rem;
  border-radius: 20px;
  object-fit: cover;
  width: 35rem;
  height: 24rem;
}

.work-exp .work .work-info {
  position: absolute;
  right: 2rem;
  top: 2rem;
  background: rgb(16, 24, 65);
  background: linear-gradient(37deg, rgba(16, 24, 65, 1) 27%, #142579 82%);
  -webkit-box-shadow: -4px 2px 13px 0px rgba(0, 0, 0, 0.68);
  box-shadow: -4px 2px 13px 0px rgba(0, 0, 0, 0.68);
  border-radius: 20px;
  width: 27rem;
  height: 24rem;
  font-size: 0.9rem;
  list-style: none;
}

.work-exp .work .work-info .main {
  padding: 0rem 2rem;
}

.work-exp .work .work-info > li:not(:last-child) {
  margin-bottom: 1.4rem;
}

.work-exp .company {
  color: #142579;
  font-size: 1.4rem;
  text-align: left;
  font-weight: 600;
  background-color: var(--primary);
  margin: 2rem 0;
  padding: 1rem 2rem 1rem 2rem;
}

.work-exp .position {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2rem;
  color: var(--primary);
  margin-top: -0.5rem;
}

.work-exp .position span {
  font-size: 0.8rem;
}

.work-exp .responsibilities h3 {
  margin-top: 1rem;
  margin-bottom: 0.8rem;
}

.work-exp .work-info .responsibilities li:not(:last-child) {
  margin-bottom: 1.2rem;
}

/*-------------------------------------------------------------------------------*/
